@import "tailwindcss";


@theme {
 
  --color-grayish: #7C8685;
  --color-soft-green: #AAACA1;
  --color-bright-red: #E3311D;
  --color-dark-brown: #362E2D;
  --color-near-black: #050507;
  --inset-shadow-left-right: inset 5px 0 10px -5px rgba(227, 49, 29, 0.5), inset -5px 0 10px -5px rgba(227, 49, 29, 0.5);

  /* Breakpoints */
  --breakpoint-sm: 320px;
  --breakpoint-md: 481px;
  --breakpoint-mdl: 769px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1536px;

}

body{
  background:  #b6bbba;
 
}

.button-shadow {
  background-color: #fff; /* or your button background */
  color: #000000;
  
  cursor: pointer;
  
  transition: box-shadow 0.3s ease;
}

.button-shadow:hover {
  border: 1px #000000;
  box-shadow: 0 6px 10px rgba(23, 23, 23, 0.7); /* stronger shadow on hover */
}

.div-shadow{
  box-shadow: 0 6px 10px rgba(23, 23, 23, 0.7); /* stronger shadow on hover */
}

.card-one-link .link-hidden{
  display: nonex ;
}


.nav-btn {
  @apply border w-[8rem] bg-white rounded-[0.2rem] h-[2rem] shadow-md
  hover:scale-105 hover:shadow-lg transition duration-300;
}